* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.5rem;
	font-family: 'Outfit', sans-serif;
	line-height: 1.5;
	background-color: hsl(212, 45%, 89%) ;
}
.container {
	width:  20%;
	margin: 10rem auto;
	padding: 2rem 1.5rem;
	text-align: center;
	background-color: hsl(0, 0%, 100%);
	border-radius: 2rem;
	box-shadow:  0 5px 10px 1px rgba(0, 0, 0, 0.2);
}
.qr-code {
	width: 100%;
	border-radius: 1rem;
	margin-bottom: 2rem;
	height: 35rem;
}
.main-heading {
	font-size: 2.2rem;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
	margin-bottom: 1rem;
	padding: 0 1rem;
}
.main-text {
	color: hsl(220, 15%, 55%);
	margin-bottom: 3rem;
	padding: 0 1rem;
}
.attribution { 
	font-size: 11px; text-align: center; 
	}
 .attribution a { 
 	color: hsl(228, 45%, 44%); }
@media only screen and (max-width:  75em) {
	body {
		width: 1200px;
	}
	.container {
		width: 50%;
	}
}
@media only screen and (max-width:  62.5em) {
	body {
		width: 1000px;
	}
	.container {
		width: 60%;
		margin-top: 1rem;
	}
}
@media only screen and (max-width:  50em) {
	body {
		width: 800px;
	}
	.container {
		width: 70%;
	}
}
@media only screen and (max-width:  43.5em) {
	body {
		width: 700px;
	}
	.container {
		width: 75%;
	}
}
@media only screen and (max-width:  37.5em) {
	body {
		width: 375px;
	}
	.container {
		width: 90%;
	}
}
